@{
    ViewData["Title"] = "Home/Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*     <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
@*     <table class="table table-responsive table-hover">
        @foreach (var item in Model)
        {
            <td>
                @item.Name
            </td>
        }
    </table> *@
</div>
