@{
    ViewData["Title"] = "Home/Register";
}
@* <h1>@ViewData["Title"]</h1> *@
<!DOCTYPE html>
<html>
<script src="~/js/site.js" asp-append-version="true"></script>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Card</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/LoginStyle.css" asp-append-version="true" />
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>

<body>
    <div id="card">
        <div id="card-content">
            <div id="card-title">
                <div class="underline-title"></div>
            </div>
            <form id="registerForm" method="post" class="form" onsubmit="RegisterJs()">
                <label style="padding-top:13px">
                    &nbsp;Name
                </label>
                <input id="user-name"class="form-content" name="firstname" type="text" autocomplete="on" required />
                <div class="form-border"></div>
                <label style="padding-top:13px">
                    &nbsp;Surname
                </label>
                <input id="user-surname"class="form-content" name="lastname" type="text" autocomplete="on" required />
                <div class="form-border"></div>
                <label for="user-email" style="padding-top:13px">
                    &nbsp;Email
                </label>
                <input id="user-email" class="form-content" type="email" name="email" autocomplete="on" required />
                <div class="form-border"></div>
                <label for="user-password" style="padding-top:22px">
                    &nbsp;Password
                </label>
                <input id="user-password" class="form-content" type="password" name="password" required />
                <div class="form-border"></div>
                <a href="#">
                    <legend id="forgot-pass"></legend>
                </a>
                <div class="containerBtn">
                    <input id="register-btn" type="submit" name="submit"value="Register" />
                    <p>&nbsp;@ViewBag.test</p>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
